*.txt
jQuery-File-Upload-master/*
sweetalert-master/*
*.npmignore
*.json
data/*
*.sql
sweetalert*
ProposalScreenshots/index.php
views/*
.idea/*
public/*
.idea/
jquery-ui-1.12.1.custom/
views/
connection.php
common.php
