h1, h2, h3, h4{
    color: white;
    font-family: Verdana, Arial, sans-serif;
}

body {
    background-color: #3068d1;
}

.selectMenu {
    background-color: #eee;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.75em;
    color: #045;
    width: 15vw;
}

.majorSection .ui-accordion-content h4 {
    color: #000066;
    font-size: 0.80em;
}

.majorSection .ui-accordion-content p {
    font-size: 0.75em;
    font-style: italic;
    color: #000066;
}
.majorSection .ui-accordion-header {
    font-size: 0.50em;
    height: auto;
}
* .majorSection .ms-options-wrap {
    font-size: 0.75em;
}

.ui-accordion {
    width: 90%;
}

.ui-accordion .ui-accordion-header .ui-accordion-content h1 {
    color: #000066;
}

.ui-accordion .ui-accordion-header .ui-accordion-content h2 {
    color: #000066;
}

.ui-accordion .ui-accordion-header .ui-accordion-content h3 {
    color: #000066;
}

.ui-accordion .ui-accordion-header .ui-accordion-content h4 {
    color: #000066;
    font-size: 3vh;
}

.inputText {
    width: 10vh;
}

#inputText {
    color: #000066;
    font-size: 0.8em;
    font-style: italic;
}

.ui-tabs {
    border-left-color: #000066;
    border-bottom-color: #000066;
}

.ui-tabs a {
    font-size:0.80em;
}
.ui-tabs-panel {
    color: #000066;
    font-size: 0.8em;
    font-style: italic;
}

.gen-filter-buttons {
    background: #f4df42;
    color: #000066;
    width: 45%;
    font-weight: bold;
    height: 5vh;
    font-size: 0.75em;
    border-radius: 1em;
}

.minorSection .ui-accordion-header h4 {
    color: white;
}
* .minorSection .ui-accordion-content {
    font-size: 0.75em;
    color: #000066;
    font-style: italic;
}

.ui-accordion .majorSection .ui-accordion-content {
    color: #000066;
}

* .majorSection .selectMenu {
    background-color: #eee;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.75em;
    color: #045;
    width: 20vw;
}

.radioButtons {
    font-size: 0.80em;
}