#headerType {
	position: relative;
	left: 250px;
}

#fieldName {
	position: relative;
	left: 0px;
}

#headerLength {
	position: relative;
	right: 400px;
}

#primaryKey {
	position: relative;
	left: 600px;
}