INPUT, SELECT, TEXTAREA, OPTION {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B524C;
}
SELECT.dcinput {
	width: 31em;
}
SELECT.dcinput OPTION {
	font-family: "Courier New", Courier;
	font-size: 10.5px;
}
INPUT.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.dcrowtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.dcfieldname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
}
TR.dcfieldname, DIV.dcfieldname, TD.dcfieldname {
	margin: 0px;
	padding: 2px 3px;
	background-color: #66C66C;
}
.dcheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000066;
}

body {
    font-size:90%;
}
